<div ng-controller="restaurantController">

<!-- RESTAURANT LIST - NOT VIEW -->
<div class=""  ng-show="view === false">
<div class="page-header">
    <h1>RESTAURANTES</h1>
</div>
<div class="page-options">
    <input type="text" ng-model="buscarRest" placeholder="Buscar restaurante..." style="margin-right: 1em;">
    <button class="button success" onclick="Metro.dialog.open('#crearRest')">CREAR RESTAURANTE</button>
</div>

<div class="page-content">
    <table class="table striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>REF. CLIENTE</td>
                <td>NOMBRE</td>
                <td>RESPONSABLE</td>
                <td>ALTA</td>
                <td>ESTATUS</td>
                <td>LOCALIZACIÓN</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in restaurantes | filter : buscarRest">
                <td>{{item.id}}</td>
                <td><a href="javascript:void(0)" ng-click="viewRestaurant(item)">{{item.ref_cliente}}</a></td>
                <td>{{item.nombre}}</td>
                <td><a href="javascript:void(0)">{{item.responsable}}</a></td>
                <td>{{item.alta}}</td>
                <td>{{item.estatus}}</td>
                <td>{{item.localizacion}}</td>
                <td class="place-right">
                    <div class="split-button">
                        <button class="split secondary dropdown-toggle"></button>
                        <ul class="d-menu place-right" data-role="dropdown">
                            <li><a href="javascript:void(0)" ng-click="viewRestaurant(item)">Ver</a></li>
                            <li><a href="#">Editar</a></li>
                            <li><a href="#">Enviar E-mail</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

    <!-- VIEW RESTAURANT -->
    <div class="" ng-show="view">
        <div class="page-header">
            <h1>RESTAURANTE: {{restaurantViewed}}</h1>
        </div>
        <div class="page-options">
            <button class="button success" onclick="Metro.dialog.open('#crearRest')" style="margin-right: 0.5em;">VOLVER ATRÁS</button>
            <button class="button alert" onclick="">ELIMINAR RESTAURANTE</button>
        </div>

        <div class="page-content">
            <div class="view-restaurant-cont">
                <div class="view-restaurant-image"> 
                    <img src="http://via.placeholder.com/450x400">
                </div>
                <div class="view-restaurant-desc">
                   <div class="">
                       <button class="button info">DETALLES</button>
                       <button class="button">RESPONSABLE</button>
                       <button class="button">LOCALIZACIÓN</button>
                   </div>
                </div>
            </div>
               
            </div>
        </div>
    </div>
</div>




<!-- DIALOGO CREAR RESTAURANTE-->
<div class="dialog" data-role="dialog" id="crearRest">
        <div class="dialog-title">CREAR RESTAURANTE</div>
        <div class="dialog-content">
            Por favor introduce todos los datos necesarios para crear el restaurante.
            <div class="grid mt-4">
                <div class="row">
                    <div class="cell-9">
                        <input type="text" placeholder="Referencia">
                    </div>
                    <div class="cell-3">
                        <button type="button" class="button info place-right">GENERAR</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="cell-6">
                        <input type="text" placeholder="Nombre del restaurante">
                    </div>
                    <div class="cell-6">
                        <input type="text" placeholder="Responsable">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="cell-12">
                        <input type="text" placeholder="Dirección">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="cell-12">
                        <textarea placeholder="Escribe una descripción del restaurante" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialog-actions place-right">
            <button class="button js-dialog-close">CANCELAR</button>
            <button class="button primary js-dialog-close">GUARDAR</button>
        </div>
    </div>