html, body
{
    height: 100%;
    font-size: 14px;
}

body.login
{
    background-image: url('../../img/bg.jpg');
    background-size: cover; 
    color: #fff;
}
.navview.expanded-lg .navview-content
{
    overflow: auto;
}

div.label
{
    padding: 2px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 13px;
}

.navview.expanded-lg .navview-content
{
    height: 100%;
}

.error-login
{
    padding: 8px 20px;
    color: #fff;
    background-color: #a2002580;
    border: 1px solid #a20025;
}

.notify
{
    width: auto;
    min-width: 400px;
    border: 0px !important;
}

.notify-title
{
    font-weight: bold !important;
}

.container-login
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form
{
    width: 450px;
    height: auto;
    min-width: 350px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.login-row
{
    margin-bottom: 1em;
    width: 100%;
}



#map {
    height: 600px;
    width: 100%;
    border: 1px solid #e5e5e5;
   }

.flex-center{
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.navview .holder:hover, .navview .navview-menu li a:hover, .navview .pull-button:hover
{
    background-color: rgba(31, 155, 216, 0.2) !important;
}
.navview .holder:focus, .navview .navview-menu li a:active, .navview .pull-button:active
{
    background-color: rgba(31, 155, 216, 0.2) !important;  
}
li.active 
{
    background-color: rgba(31, 155, 216, 0.2);
}

textarea
{
    resize: none;
}
.progress.line::before
{
    background-color: #30abe6 !important;
}
.dialog-title
{
    padding: 0.5em !important;
    border-bottom: 1px solid #e5e5e5;
}
.page-title
{
    background-color: #263238;
    display: flex;
    color: #fff;
    font-size: 18px;
    min-height: 60px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}
.loading
{
    position: absolute;
    background-color: rgba(245,245,245,1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.page-header
{
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: rgba(245,245,245,0.88);
    border-bottom: 1px solid #e5e5e5;
    color: #5a5a5a;
}

.page-options
{
    padding: 1em;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.page-content
{
    padding: 1em;
    height: 100%;
}

.view-restaurant-cont
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.view-restaurant-image
{
    height: 400px;
    width: 450px;
    min-height: 350px;
    height: 100%;
}

.view-restaurant-image img
{
    height: 400px;
    width: 450px;
}

.view-restaurant-desc
{
    width: 100%;
    height: 100%;
    padding: 1em;
}